TODO.txt
*.class
*.log

# build and ide specific
*.iml
.cache
.history
*.ipr
*.iws
.lib/
.idea/
.DS_Store
dist/*
target/
out/
**/dependency-reduced-pom.xml
resources/*.retry
resources/playbooks/*.retry
*.pyc
.flattened-pom.xml
*/.flattened-pom.xml
*/dependency-reduced-pom.xml